@{ Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Setting & Privacy</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mixtape template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/icon.png">
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/styles/blog.css">
    <link rel="stylesheet" type="text/css" href="~/styles/blog_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/styles/settingmystyle.css">
</head>
<body>

    <div class="super_container">

        <!-- Header -->
        <div hidden>
            <header class="header">

                <div class="header_content d-flex flex-row align-items-center justify-content-center">
                    <div class="logo"><a href="Login.html"><img src="~/images/icon.png"></a></div>
                    <div class="log_reg">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a href="Login.html">Login</a></li>
                            <li><a href="Sign_Up.html">Register</a></li>
                        </ul>
                    </div>
                    <div class="hamburger ml-auto">
                        <div class="d-flex flex-column align-items-end justify-content-between">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </header>

        </div>

        <!-- Header whith loggin -->
        <div>
            <header class="header">
                <div class="header_content d-flex flex-row align-items-center justify-content-center">
                    <div class="logo"><a href="~/Home/Home"><img src="~/images/icon.png"></a></div>
                    <div class="log_reg ">

                        <a href="~/Users/UserProfile"><div class="profilpic" title="Profile"></div></a>
                    </div>
                    <div class="log_reg">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a title="logout" href="Login.html"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        </ul>

                    </div>
                    <nav class="main_nav">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a href="~/Home/Home">Home</a></li>
                            <li><a href="~/Users/Notification">Notification</a></li>
                            <li><a href="~/Users/Trend">Trend</a></li>
                        </ul>
                    </nav>
                    <div class="hamburger ml-auto">
                        <div class="d-flex flex-column align-items-end justify-content-between">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Menu -->
        <div hidden>
            <div class="menu">
                <div>
                    <div class="menu_overlay"></div>
                    <div class="menu_container d-flex flex-column align-items-start justify-content-center">
                        <div class="menu_log_reg">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="Login.html">Login</a></li>
                                <li><a href="Sign_Up.html">Register</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Menu with login-->
        <div>
            <div class="menu">
                <div>
                    <div class="menu_overlay"></div>
                    <div class="menu_container d-flex flex-column align-items-start justify-content-center">
                        <div class="menu_log_reg">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="Profile.html">User_name</a></li>
                            </ul>
                        </div>
                        <nav class="menu_nav">
                            <ul class="d-flex flex-column align-items-start justify-content-start">
                                <li><a href="Home.html">Home</a></li>
                                <li><a href="Notification.html">Notification</a></li>
                                <li><a href="Trend.html">Trend</a></li>

                            </ul>
                        </nav>
                        <div class="menu_log_reg">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="Profile.html">LogOut</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Home -->
        <!-- Blog -->

        <div class="blog">
            <div class="container">
                <div class="row">

                    <!-- Blog Posts -->
                    <div class="col-lg-9">
                        <div class="blog_posts">

                            <!-- Blog Post -->
                            <div class="blog_post">
                                <div class="blog_post_title"><h2>Setting & Privacy </h2></div>

                                <div class="blog_post_info">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li>Data Policy   </li>
                                        <li>Cookies Policy</li>
                                    </ul>
                                </div>
                                <div class="blog_post_text">
                                    <h4>Data Policy</h4>
                                    <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium interdum. Nullam volutpat dui sem, ac congue purus luctus nec. Curabitur luctus luctus erat, sit amet facilisis quam congue quis. Quisque ornare luctus erat id dignissim. Nullam ac nunc quis ex porttitor luctus.</p>
                                </div>
                                <div class="blog_post_text">
                                    <h4>Cookies Policy </h4>
                                    <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium interdum. Nullam volutpat dui sem, ac congue purus luctus nec. Curabitur luctus luctus erat, sit amet facilisis quam congue quis. Quisque ornare luctus erat id dignissim. Nullam ac nunc quis ex porttitor luctus.</p>
                                </div>

                            </div>

                            <!-- Blog Post -->
                            <!-- Blog Post -->


                        </div>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-lg-3">

                        <div class="sidebar">

                            <div class="sidebar_section">

                                <div class="blog_post_title sact"><h3>Account Setting</h3></div>
                                <div class="sidebar_list">
                                    <ul>
                                        <li><a href="~/Users/Information">Account Information</a></li>
                                        <li><a href="~/Home/ConnectWith">Connect With</a></li>
                                        <li><a href="~/Home/BlockList">Block List</a></li>
                                        <li><a href="~/Home/Location">Location</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar_section">
                                <div class="blog_post_title "><a href="~/Home/About"><h3>About Us</h3></a></div>

                            </div>
                            <div class="sidebar_section">
                                <div class="blog_post_title"><a href="~/Home/ContactUs"><h3>Contact Us</h3></a></div>
                            </div>
                            <div class="blog_post_text deact">
                                <a href="~/Home/DeActive"><p>Deactive Account.</p></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="footer_list">
                <ul>
                    <li><a href="~/Home/About">About</a></li>
                    <li><a href="">Setting</a></li>
                    <li><a href="~/Home/ContactUs">Contact Us</a></li>

                </ul>
            </div>
            <div class="copyright_bar">

                <span>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> by RemusiX team
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </span>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/plugins/jPlayer/jquery.jplayer.min.js"></script>
    <script src="~/plugins/jPlayer/jplayer.playlist.min.js"></script>
    <script src="~/js/blog.js"></script>
</body>
</html>